@model ProjetoHemobancoWeb.Models.UsuarioView

@{
    ViewData["Title"] = "Cadastre-se";
}

    <form asp-action="Create">
        <fieldset>
            <legend>Dados Pessoais</legend>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmacaoSenha" class="control-label"></label>
                <input asp-for="ConfirmacaoSenha" class="form-control" />
                <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </fieldset>
    </form>

